<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    {% block head %}{% endblock %}
    <style>
      .primary, .secondary {
        background-color: #ffffff;
        color: #555555;
      }
      
      body {
        background-color: #ffffff;
        color: #555555;
      }

      @media (prefers-color-scheme: dark) {
        .primary, .secondary {
          background-color: #111111;
          color: #F4F4F4;
        }

        .secondary {
          opacity: .8;
        }

        body {
          background-color: #111111;
          color: #F4F4F4;
        }
      }
    </style>
  </head>
  <body class="sans-serif">
    <main>
      {{ content | safe }}
    </main>
    <nav class="ph3 ph5-ns pb5">
    <a href="/" class="f5 no-underline color-inherit dim inline-flex items-center pa3 ba border-box mr4">
      <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
        <title>chevronLeft icon</title>
        <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
      </svg>
      <span class="pl1">Home</span>
    </a>
  </nav>
  </body>
</html>