---
layout: base.njk
title: {{ title }}
---


<article class="pa3 pa5-ns">
  <header>
    <h1 class="f3 f1-m f-headline-l">{{ title }}</h1>
    <h2 class="f5 f2-ns">{{ director }} ({{ year }})</h1>
  </header>

  <section class="mv4-ns">
    <p class="measure">{{ summary }}</p>
    <p class="measure">{{ comment }}</p>
  </section>

  <section class="db w-100 mt4-ns">
    <div class="w-100 w-50-ns pv2-ns pr3-ns">      
        <img src="{{ image }}" class="db bg-center cover" />
    </div>
  </section>
</article>