---
layout: base.njk
---

{% block head %}
    <link rel="stylesheet" href="styles/scroll-snap.css">
    <link rel="stylesheet" href="styles/bkg-img.css">
{% endblock %}

<header class="vh-100 bg-light-pink">
  <div class="mw9 center pa4 pt5-ns ph7-l">
    <time class="f6 mb2 dib ttu tracked"><small>November, 2023</small></time>
    <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
      <span class="bg-black-90 lh-copy pa1 tracked-tight">
        Movies for Pixi
      </span>
    </h3>
    
    <h4 class="f3 fw1 georgia i">A list of good movies</h4>
    

    <p class="measure-wide georgia">Pixi, this is a list of movies I like, semi-complete with the quotes from them I usually force into conversations. Please see these films so you know what I mean when I say things like "Game over man, game over!"</p>
    <p class="measure-wide georgia">Now, I have limited myself to 2 movies (-ish) per famous director so it doesn't get too boring to make this list. Please see more movies from each listed director. But start with the ones I've listed, because thats why I listed them.</p>

    <nav class="f6 fw6 ttu tracked pt6">
      <a class="link dim black dib mr3" href="/directors/index.html" title="Directors">Directors</a>
    </nav>
    
  </div>
</header>


{% for movie in collections.movies %}
  {% include "movie.njk" %}
{% endfor %}
