<article class="h-auto w-100 h-50-l mb3" id="{{ movie.data.title }}" >
<a href="{{ movie.data.imdb }}" target="blank" style="text-decoration: none;">
  <div class="cf h-100 flex items-end relative">
    
    <img class="absolute w-100 h-100" style="pointer-events: none; object-fit: cover; z-index: -1;" src="{{ movie.data.image }}" loading="lazy" />
    
    <div class="h-100 h-50-l w-100 ph5 pt5 pt0-l white">
      <header class="h-45-ns">
        <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3">{{ movie.data.title }}</h3>
        <h4 class="f3 fw4 i lh-title mt0">{{ movie.data.director }}  <span>{{ movie.data.year }}</span></h4>
      </header>
      
      <section class="h-50-ns flex flex-column">
      
        <div class="h-75-ns flex flex-column flex-wrap">
      
          <p class="lh-copy w-100 w-40-l f5 mt0">
            {{ movie.data.summary }}
          </p>
      
          <p class="lh-copy w-100 w-50-l f5 mt0">
            <i>{{ movie.data.comment }}</i>
          </p>
        </div>
        
        <ul class="h-25-ns flex" style="flex: 1; flex-basis: 30%; list-style: none;">
          {% for quote in movie.data.quotes %}
          <li><blockquote class="lh-copy f5 mt0"><i style="font-weight: lighter;">"{{ quote }}"</i></blockquote></li>
          {% endfor %}
        </ul>
      
      </section>
    </div>
  </div>
  </a>
</article>