---
layout: base.njk
title: 404
permalink: "error-pages/404/index.html"
---

<section class="pa3 pa5-ns">
  <h1 class="f3 f1-m f-headline-l tacked">404</h1>
  <h2 class="f5 f2-ns">Don't know that one...</h1>
  <p class="measure">It seems the page you requested can't be found. If it was for an awesome movie, perhaps we havn't seen it, or one of us have misspelled it.</p>
  <p class="measure">Go back and see if there's something you havn't watched yet</p>
</section>
