---
layout: base.njk
title: 404
permalink: "error-pages/offline/index.html"
---

<section class="pa3 pa5-ns">
  <h1 class="f3 f1-m f-headline-l tracked">Offline</h1>
  <h2 class="f5 f2-ns">Connection Issue</h2>
  <p class="measure lh-copy">Looks like you're offline at the moment. Make sure to check your internet connection.</p>
  <p class="measure lh-copy">Once you're back online, you can pick up right where you left off. See you then!</p>
</section>
